label {
    font-size: 20px;
}

.filterContainer {
    width: 100vw;
    height: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
}

.filters {
    width: 370px;
    height: 370px;
    background-color: #6E522F;
    transition: .5s;
    padding: 10px;
    clip-path: circle(40px at 20px 20px);
    box-sizing: border-box;
}

label, .countrylist {
    width: 70%;
    color: whitesmoke;
}

input {
    width: calc(70% - 5px);
    border: 1px solid #aaa;
    border-radius: 4px;
    min-height: 26px;
}

input:focus {
    border: 1px solid #000;
    outline: 0;
}

#searchIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    transition: .5s;
}

.active {
    clip-path: circle(280px at 80px 80px);
}

.active > #searchIcon {
    opacity: 0;
}

