label {
    font-size: 20px;
}

.filterContainer {
    width: 100vw;
    height: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
}

.filters {
    width: 400px;
    height: 400px;
    background-color: #a74e4e;
    transition: .5s;
    padding: 10px;
    clip-path: circle(30px at 10px 10px);
}

label, .countrylist {
    width: 70%;
    color: whitesmoke;
}

input {
    width: 70%;
}

.active {
    clip-path: circle(280px at 80px 80px);
}

@media screen and (min-width: 480px) {
    label, input, .countrylist {
        width: 40%;
    }
}