#catalog {
    position: relative;
    top: 100px;
    width: 100%;
}

.info {
    position: absolute;
    top: 100px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: teal;
}

.info > h1 {
    font-size: 12vw;
}

.info > h3 {
    font-size: 10vw;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

@media screen and (min-width: 480px) {
    .info > h1 {
        font-size: 8vw;
    }
    
    .info > h3 {
        font-size: 5vw;
    }
}